@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primaryColor: #0e6253;
    --secondaryColor: #ffc107;
    --whiteColor: #fff;
    --blackColor: #222;
    --softGreenColor: #cad8d6;
    --darkGreyColor: #a7a7a7;
    --greyColor: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.sidebar-menus {
    display: flex;
    flex-direction: column;
}

.sidebar-menus a,
.sidebar-logout a {
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--whiteColor);
}

.sidebar-menus a ion-icon,
.sidebar-logout a ion-icon {
    font-size: 20px;
}

.sidebar-menus a:hover,
.sidebar-logout a:hover {
    background-color: var(--secondaryColor);
    border-radius: 50px;
}

.main {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    background-color: var(--softGreenColor);
    margin-left: 250px;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* appears on mobile screen later */
.menu-toggle {
    display: none;
}

.search {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: var(--whiteColor);
    border-radius: 20px;
}

.search input {
    width: 80%;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.search-btn {
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
}

.search:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px, 8px, 24px;
}

.search-btn:hover {
    background-color: var(--primaryColor);
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.cart,
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteColor);
    font-size: 20px;
    color: var(--primaryColor);
    text-decoration: none;
    padding: 0 10px;
    height: 40px;
    border-radius: 50%;
}

.cart:hover,
.user:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px, 8px, 24px;
}

header .shopping {
    position: relative;
    text-align: right;
}

header .shopping span {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 80%;
    padding: 3px 10px;
}

.card {
    /* overflow-y: auto; if more items are added option for scrolling */
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: var(--darkGreyColor);
    height: 100vH;
    transition: 0.2s ease;
}

.card h1 {
    color: var(--secondaryColor);
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    /* bottom: auto; if more items are added option for scrolling */
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut .total {
    font-size: 17px;
}

.card .checkOut div {
    background-color: var(--secondaryColor);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2) {
    background-color: var(--blackColor);
    color: var(--whiteColor);
}

.active .card {
    left: calc(100% - 500px);
    z-index: 1;
}

.active .main {
    transform: translateX(-200px);
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: var(--whiteColor);
    row-gap: 10px;
    margin-bottom: 20px;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 90%;
}

.listCard button {
    width: 12px;
    background-color: var(--greyColor);
    border: none;
    cursor: pointer;
}

.listCard .count {
    margin: 0 10px;
}


.main-highlight {
    margin: 3% 0;
    padding: 2%;
    background-image: url("images/priscilla-du-preez-W3SEyZODn8U-unsplash.jpg");
    background-size: cover;
    background-position: top 35% right 0;
    border-radius: 8px;
}

.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-size: 20px;
}

.white {
    color: var(--whiteColor);
}

.main-arrow {
    font-size: 24px;
}

.back,
.next {
    cursor: pointer;
}

.back:hover,
.next:hover {
    color: var(--primaryColor);
}

.highlight-wrapper {
    width: 100%;
    display: flex;
    padding: 1%;
    border-radius: 8px;
    gap: 1.5rem;
    overflow-x: hidden;
}

.highlight-card {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    gap: 1rem;
    border-radius: 8px;
    padding: 1%;
    background-color: var(--greyColor);
    cursor: pointer;
}

.highlight-img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.highlight-desc h4 {
    color: var(--primaryColor);
}

.highlight-desc p {
    color: var(--blackColor);
    font-size: 13px;
}

.highlight-card:hover {
    background-color: var(--whiteColor);
    box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
}

.main-menus {
    min-height: 100%;
    background-color: var(--greyColor);
    padding: 2%;
    border-radius: 8px;
}

.main-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.back-menus,
.next-menus {
    cursor: pointer;
}

.back-menus:hover,
.next-menus:hover {
    color: var(--primaryColor);
}

.filter-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    width: 100%;
    height: 100px;
    gap: 1.2rem;
}

.filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    height: 100%;
    background-color: var(--whiteColor);
    border-radius: 8px;
    border: 1px solid var(--softGreenColor);
    font-size: 14px;
    cursor: pointer;
}

.filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    font-size: 30px;
    background-color: var(--softGreenColor);
    color: var(--primaryColor);
    border-radius: 8px;
}

.filter-card:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.filter-card:hover .filter-icon {
    background-color: var(--whiteColor);
}

.divider {
    margin: 1rem 0;
    height: 1px;
    width: 100%;
    background-color: var(--primaryColor);
    border: none;
}

.main-detail {
    margin: 1rem 0 1.5rem 0;
}

.detail-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    margin-top: 1rem;
    gap: 2%;
    border-radius: 8px;
}

.detail-card {
    min-height: 280px;
    height: 100%;
    background-color: var(--whiteColor);
    border-radius: 8px;
    margin: 1% 0;
    box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.detail-img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8);
}

.detail-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1%;
    width: 100%;
}

.detail-sub {
    font-size: 12px;
    color: var(--darkGreyColor);
    letter-spacing: 0.5;
    margin: 1% 0;
}

.price {
    color: var(--primaryColor);
}

.detail-favourites {
    font-size: 24px;
}

.detail-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.detail-card:hover .detail-img {
    filter: opacity(1);
}

.detail-card:hover .detail-name h4 {
    color: var(--primaryColor);
}

.detail-card:hover .price {
    letter-spacing: 1.5;
}


/* Sign-up And Sign-in */

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/pexels-elevate-1267320.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 700px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active {
    height: 820px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: var(--primaryColor);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--softGreenColor);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--primaryColor);
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--blackColor);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--primaryColor);
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: var(--primaryColor);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: var(--primaryColor);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--primaryColor);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: var(--primaryColor);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: var(--whiteColor);
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: var(--primaryColor);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: var(--primaryColor);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* Contact Page */

#contact-body{
    background: linear-gradient(var(--softGreenColor), var(--greyColor));
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container{
    height: 100vH;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-right{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-right-title h2{
    font-weight: 600;
    color: var(--primaryColor);
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-right-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--primaryColor);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: var(--blackColor);
    border-radius: 50px;
}

.contact-right textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid var(--secondaryColor);
}

.contact-inputs::placeholder{
    color: var(--darkGreyColor);
}

.contact-right button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: var(--whiteColor);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, var(--primaryColor), var(--softGreenColor));
    cursor: pointer;
}

.contact-right button img{
    height: 15px;
}

.contact-right button:hover{
    border: 2px solid var(--secondaryColor);
}

#contact-toggle {
    position: fixed;
    top: 20px; 
    left: 20px; 
    cursor: pointer;
}

.far-img {
    position: absolute;
    top: 0; 
    right: 0; 
}

.far-img img{
    width: 400px;
}

/* Contact Page Mobile */

@media (max-width:1100px){

    .contact-container{
        width: 100%;
    }

    .contact-right{
        width: 40vH;
    }

    .contact-inputs{
        width: 40vH;
    }

    .far-img{
        display: none;
    }

    .sidebar{
        display: none;
    }
    
    .menu-toggle {
        display: block;
        text-decoration: none;
        font-size: 20px;
        background-color: var(--whiteColor);
        color: var(--primaryColor);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        border-radius: 50%;
        z-index: 3;
    }

    .sidebar.active {
        display: flex;
        z-index: 10;
    }
}

/* mobile view */
@media screen and (max-width:640px) {
    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
        text-decoration: none;
        font-size: 20px;
        background-color: var(--whiteColor);
        color: var(--primaryColor);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        border-radius: 50%;
        z-index: 3;
    }

    .sidebar.active {
        display: flex;
        z-index: 10;
    }

    .highlight-card {
        min-width: 180px;
        width: 80%;
    }

    .card h1 {
        padding: 0;
        flex-direction: column;
    }

    .active .card {
        left: 0;
        width: 100%;
    }

    .active .main {
        transform: translateX(0%);
    }

}